
<div class="container-fluid mt-5 about-style" id="aboutid">
  <div class="row">
    <div class="col-md-10 col-12 max-auto ">
      <h1 class="text-center main-heading" >About Us</h1>
      <p class="text-center sub-heading">Grow Your Business With Us</p>
      <div class="row">
        <div class="col-md-6 col-12 hero-text "></div>
          <figure id="rocket_image" style="display: flex; width: 100%; align-items:center; justify-content:right;">
             <img src="img/about.svg " id="Rocket" style="height:10px;" alt="herosection_img">
        </figure>
        </div>
        
          {{! right side}}
          <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column" ></div>
          <h1 style="width: 400px; height: auto; margin-left: 850px;color:blue ">WE ARE THE PROFESSION DEVELOPER</h1>
       
          <p style="width: 700px; height: auto; margin-left: 700px; ">I am <span class="bold-style">sayan chakraborty</span> we specialize in delivering innovative and reliable tailored to meet the unique needs of our clients.</p>
          <button class="btn-style btn-primary" style="width: 200px; height: auto; margin-left: 900px; ">Read More</button>
          </div>
          
      </div>
    </div>
  </div>
</div>